<app-action-bar>
  <div class="p-d-flex p-ai-center p-jc-between">
    <app-custom-breadcrumb></app-custom-breadcrumb>
    <p-button icon="pi pi-plus" label="Novo Item" routerLink="/item" styleClass="p-button-text p-mb-1"></p-button>
  </div>
</app-action-bar>
<app-custom-progress-bar *ngIf="!!loading"></app-custom-progress-bar>

<p-card>
  <app-custom-progress-text *ngIf="!!loading"></app-custom-progress-text>
  <p-table (onLazyLoad)="onLazyLoad()"
           *ngIf="!loading"
           [lazy]="true"
           [responsive]="true"
           [value]="itens">
    <ng-template pTemplate="header">
      <tr>
        <th title="Nome">Nome</th>
        <th  title="Quantidade">Quantidade</th>
        <th  title="Unidade de medida">Unidade de medida</th>
        <th  title="Preço">Preço</th>
        <th  title="Produto perecível">Produto perecível</th>
        <th title="Data de validade">Data de validade</th>
        <th  title="Data de fabricação">Data de fabricação</th>
        <th class="lista-acoes" title="Ações">Ações</th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body">
      <tr>
        <td>
          <span class="p-column-title">Nome</span>
          {{item.nome}}
        </td>
        <td>
          <span class="p-column-title">Quantidade</span>
          {{item.quantidade}}
        </td>
        <td>
          <span class="p-column-title">Unidade de medida</span>
          {{item.unidadeMedida | unidadeMedida: tipoPipeUnidadeMedidaEnum.DESCRICAO }}
        </td>
        <td>
          <span class="p-column-title">Preço</span>
          {{item.preco | currency:'BRL':'symbol'}}
        </td>
        <td>
          <span class="p-column-title">Produto perecível</span>
          {{item.perecivel | perecivel}}
        </td>
        <td>
          <span class="p-column-title">Data de validade</span>
          {{item.dataValidade | date:'dd/MM/yyyy'}}
        </td>
        <td>
          <span class="p-column-title">Data de fabricação</span>
          {{item.dataFabricacao | date:'dd/MM/yyyy'}}
        </td>
        <td class="lista-acoes">
          <span class="p-column-title">Ações</span>
          <button [routerLink]="['/item', item.id]"
                  class="p-button-rounded p-button-text acao"
                  icon="pi pi-pencil"
                  pButton
                  pRipple
                  type="button"></button>
          <button (click)="removeItem(item)"
                  class="p-button-rounded p-button-text acao"
                  icon="pi pi-trash"
                  pButton
                  pRipple
                  type="button"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="line-height:34px">
        <td [attr.colspan]="8">
          <b>Nenhum registro encontrado</b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
