<app-action-bar>
  <div class="p-d-flex p-ai-center p-jc-between">
    <app-custom-breadcrumb (listaItensClick)="onCancelarClick()"></app-custom-breadcrumb>
  </div>
</app-action-bar>
<app-custom-progress-bar *ngIf="!!itemForm.disabled"></app-custom-progress-bar>

<p-card header="Dados">
  <form [formGroup]="itemForm">
    <div class="p-grid">
      <div class="p-col-12">
        <app-input-container [control]="itemForm.controls.nome">
          <input autocomplete="off"
                 formControlName="nome"
                 id="nome"
                 pInputText
                 type="text">
          <label for="nome">Nome *</label>
        </app-input-container>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <app-input-container [control]="itemForm.controls.unidadeMedida">
          <p-dropdown (onChange)="changeUnidadeMedida()"
                      [options]="unidadeMedidaList"
                      formControlName="unidadeMedida"
                      id="unidadeMedida"></p-dropdown>
          <label for="unidadeMedida">Unidade de medida *</label>
        </app-input-container>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <div class="p-inputgroup">
          <div class="p-float-label">
            <input [dropSpecialCharacters]="false"
                   autocomplete="off"
                   formControlName="quantidade"
                   id="quantidade"
                   mask="{{quantidadeMask}}"
                   pInputText
                   type="text">
            <label for="quantidade">Quantidade</label>
          </div>
          <span
            class="p-inputgroup-addon">{{itemForm.controls.unidadeMedida.value | unidadeMedida: tipoPipeUnidadeMedidaEnum.SIGLA}}</span>
        </div>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <app-input-container [control]="itemForm.controls.preco">
          <input
            [options]="currencyPtBr"
            autocomplete="off"
            currencyMask
            formControlName="preco"
            id="preco"
            pInputText
            type="text">
          <label for="preco">Preço *</label>
        </app-input-container>
      </div>

      <div class="p-col-12">
        <div class="p-field">
          <p-checkbox (onChange)="changePerecivel()"
                      [binary]="true"
                      formControlName="perecivel"
                      id="perecivel"
                      label="Produto perecível"
                      name="perecivel"></p-checkbox>
        </div>
      </div>

      <div *ngIf="!!vencido" class="p-col-12">
        <div class="p-field">
          <p-message severity="warn" text="Produto vencido!"></p-message>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <app-input-container [control]="itemForm.controls.dataValidade">
          <p-calendar (onInput)="selectDataValidade()"
                      (onSelect)="selectDataValidade()"
                      [locale]="datePtBr"
                      [showIcon]="true"
                      appCheckDateValidity
                      dateFormat="dd/mm/yy"
                      formControlName="dataValidade"
                      id="dataValidade"
                      inputId="dataValidade"></p-calendar>
          <label
            for="dataValidade">{{!!itemForm.controls.perecivel.value ? 'Data de validade *' : 'Data de validade'}}</label>
        </app-input-container>
      </div>

      <div class="p-col-12 p-md-6">
        <app-input-container [control]="itemForm.controls.dataFabricacao">
          <p-calendar [locale]="datePtBr"
                      [maxDate]="dataMaximaFabricacao"
                      [showIcon]="true"
                      appCheckDateValidity
                      dateFormat="dd/mm/yy"
                      formControlName="dataFabricacao"
                      id="dataFabricacao"
                      inputId="dataFabricacao"></p-calendar>
          <label for="dataFabricacao">Data de fabricação *</label>
        </app-input-container>
      </div>

      <div class="p-col-12">
        <div class="p-d-flex p-ai-center p-jc-end">
          <p-button
            (onClick)="onCancelarClick()"
            [disabled]="!!itemForm.disabled"
            class="p-mr-2"
            icon="pi pi-times"
            label="Cancelar"
            styleClass="p-button-text"
            type="button"></p-button>
          <p-button
            (onClick)="onSalvarClick()"
            [disabled]="!!itemForm.disabled"
            icon="pi pi-save"
            label="Salvar"
            styleClass="p-button-text"
            type="button"></p-button>
        </div>
      </div>
    </div>
  </form>
</p-card>
