<app-action-bar>
  <div class="p-d-flex p-ai-center p-jc-between">
    <app-custom-breadcrumb (listaItensClick)="onCancelarClick()"></app-custom-breadcrumb>
  </div>
</app-action-bar>
<app-custom-progress-bar *ngIf="!!itemForm.disabled"></app-custom-progress-bar>

<p-card header="Dados">
  <form [formGroup]="itemForm">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="p-field">
          <div class="p-float-label">
            <input formControlName="nome"
                   id="nome"
                   pInputText
                   type="text">
            <label for="nome">Nome *</label>
          </div>
          <small
            *ngIf="!!itemForm.controls.nome.invalid  && (itemForm.controls.nome.touched || itemForm.controls.nome.dirty)"
            class="p-invalid"
            id="firstName-help">Obrigatório</small>
        </div>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <div class="p-field">
          <div class="p-float-label">
            <p-dropdown (onChange)="changeUnidadeMedida()"
                        [options]="unidadeMedidaList"
                        formControlName="unidadeMedida"
                        id="unidadeMedida"></p-dropdown>
            <label for="unidadeMedida">Unidade de medida *</label>
          </div>
          <small
            *ngIf="!!itemForm.controls.unidadeMedida.invalid  && (itemForm.controls.unidadeMedida.touched || itemForm.controls.unidadeMedida.dirty)"
            class="p-invalid"
            id="unidadeMedida-help">Obrigatório</small>
        </div>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <div class="p-inputgroup">
          <div class="p-float-label">
            <input formControlName="quantidade"
                   id="quantidade"
                   mask="{{quantidadeMask}}"
                   pInputText
                   type="text">
            <label for="quantidade">Quantidade</label>
          </div>
          <span
            class="p-inputgroup-addon">{{itemForm.controls.unidadeMedida.value | unidadeMedida: tipoPipeUnidadeMedidaEnum.SIGLA}}</span>
        </div>
      </div>

      <div class="p-col-12 p-md-12 p-lg-4">
        <div class="p-field">
          <div class="p-float-label">
            <input
              [options]="currencyPtBr"
              currencyMask
              formControlName="preco"
              id="preco"
              pInputText
              type="text">
            <label for="preco">Preço *</label>
          </div>
          <small
            *ngIf="!!itemForm.controls.preco.invalid  && (itemForm.controls.preco.touched || itemForm.controls.preco.dirty)"
            class="p-invalid"
            id="preco-help">Obrigatório</small>
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-field">
          <p-checkbox (onChange)="changePerecivel()"
                      [binary]="true"
                      formControlName="perecivel"
                      id="perecivel"
                      label="Produto perecível"
                      name="perecivel"></p-checkbox>
        </div>
      </div>

      <div *ngIf="!!vencido" class="p-col-12">
        <div class="p-field">
          <p-message severity="warn" text="Produto vencido!"></p-message>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="p-field">
          <div class="p-float-label">
            <p-calendar (onInput)="selectDataValidade()"
                        (onSelect)="selectDataValidade()"
                        [locale]="datePtBr"
                        [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        formControlName="dataValidade"
                        id="dataValidade"
                        inputId="dataValidade"></p-calendar>
            <label
              for="dataValidade">{{!!itemForm.controls.perecivel.value ? 'Data de validade *' : 'Data de validade'}}</label>
          </div>
          <small
            *ngIf="!!itemForm.controls.dataValidade.invalid  && (itemForm.controls.dataValidade.touched || itemForm.controls.dataValidade.dirty)"
            class="p-invalid"
            id="dataValidade-help">Obrigatório</small>
        </div>
      </div>

      <div class="p-col-12 p-md-6">
        <div class="p-field">
          <div class="p-float-label">
            <p-calendar [locale]="datePtBr"
                        [maxDate]="dataMaximaFabricacao"
                        [showIcon]="true"
                        dateFormat="dd/mm/yy"
                        formControlName="dataFabricacao"
                        id="dataFabricacao"
                        inputId="dataFabricacao"></p-calendar>
            <label for="dataFabricacao">Data de fabricação *</label>
          </div>
          <small
            *ngIf="!!itemForm.controls.dataFabricacao.invalid  && (itemForm.controls.dataFabricacao.touched || itemForm.controls.dataFabricacao.dirty)"
            class="p-invalid"
            id="dataFabricacao-help">Obrigatório</small>
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-d-flex p-ai-center p-jc-end">
          <p-button
            (onClick)="onCancelarClick()"
            [disabled]="!!itemForm.disabled"
            class="p-mr-2"
            icon="pi pi-times"
            label="Cancelar"
            styleClass="p-button-text"
            type="button"></p-button>
          <p-button
            (onClick)="onSalvarClick()"
            [disabled]="!!itemForm.disabled"
            icon="pi pi-save"
            label="Salvar"
            styleClass="p-button-text"
            type="button"></p-button>
        </div>
      </div>
    </div>
  </form>
</p-card>
