.toolbar-background {
  background-color: #3F51B5;
  width: 100vw;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 3em;
  padding-left: 1em;
  z-index: 99999;
}

.toolbar-title {
  color: white;
}

.toolbar-menu-icone {
  padding-right: 14px;
}
